@model LoginVM
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <title>Giriş - IK Merkezim</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Login Screen" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />

    <style>
        li{
            list-style : none;
        }
    </style>

</head>

<body class="account-body accountbg">

    <!-- Log In page -->
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <div class="card">
                            <div class="card-body p-0 auth-header-box">
                                <div class="text-center p-3">
                                    <a href="index.html" class="logo logo-admin">
                                        <img src="/logo.png" height="50" alt="logo" class="auth-logo">
                                    </a>
                                    <h4 class="mt-3 mb-1 font-weight-semibold text-white font-18">Kullanmaya başlamak için giriş yapın.</h4>
                                    <p class="text-muted  mb-0">Devam etmek için giriş yapın.</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="nav-border nav nav-pills" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active font-weight-semibold" data-toggle="tab" href="#LogIn_Tab" role="tab">Giriş Yap</a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active p-3 pt-3" id="LogIn_Tab" role="tabpanel">
                                        <form class="form-horizontal auth-form my-4" asp-action="Login" asp-controller="Account" method="post">
                                            <div class="form-group">
                                                <label asp-for="Email">Email Adresi</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" asp-for="Email" placeholder="Email adresiniz">
                                                </div>
                                                <span style="color: #f5325c;" asp-validation-for="Email"></span>
                                            </div><!--end form-group-->

                                            <div class="form-group">
                                                <label asp-for="Password">Şifre</label>
                                                <div class="input-group mb-3">
                                                    <input type="password" class="form-control" asp-for="Password" placeholder="Şifre">
                                                </div>
                                                <span style="color: #f5325c;" asp-validation-for="Password"></span>
                                            </div><!--end form-group-->

                                            <div class="form-group row mt-4">
                                                <div class="col-sm-6">
                                                    <div class="custom-control custom-switch switch-success">
                                                        <input type="checkbox" class="custom-control-input" asp-for="RememberMe">
                                                        <label class="custom-control-label text-muted" asp-for="RememberMe">Beni Hatırla</label>
                                                    </div>
                                                </div><!--end col-->
                                                <div class="col-sm-6 text-right">
                                                    <a asp-action="ResetPasswordRequest" class="text-muted font-13"><i class="dripicons-lock"></i> Şifremi Unuttum?</a>
                                                </div><!--end col-->
                                            </div><!--end form-group-->

                                            <div class="form-group mb-0 row">
                                                <div class="col-12 mt-2">
                                                    <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Giriş Yap <i class="fas fa-sign-in-alt ml-1"></i></button>
                                                </div><!--end col-->
                                            </div> <!--end form-group-->
                                        </form><!--end form-->

                                        <div asp-validation-summary="All" id="login-validation-msg"></div>

                                        <div class="m-3 text-center text-muted">
                                            <p class="">Hesabınız yok mu ?  <a href="auth-register.html" class="text-primary ml-2">Free Resister</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end card-body-->
                            <div class="card-body bg-light-alt text-center">
                                <span class="text-muted d-none d-sm-inline-block">IK Merkezim © 2022</span>
                            </div>
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- End Log In page -->
    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
</body>

</html>



@*
    <div class="container mt-5">
    <form asp-action="Login" asp-controller="Account" method="post">

    <div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" placeholder="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="Password"></label>
    <input asp-for="Password" class="form-control" placeholder="Password" />
    <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="RememberMe"></label>
    <input asp-for="RememberMe" class="form-control" />
    <span asp-validation-for="RememberMe" class="text-danger"></span>
    </div>
    <div class="form-group">
    <a asp-action="ResetPasswordRequest" asp-controller="Account">Şifremi unuttum</a>
    </div>

    <div class="form-group">
    <input type="submit" class="btn btn-outline-success" value="Login" />
    </div>
    <div asp-validation-summary="All"></div>

    </form>
    </div>*@

<partial name="_ValidationScriptsPartial"></partial>