@model ResetPasswordDTO

<div class="mt-5">
    <div class="row">
        <div class="col col-lg-8 col-xl-5">
            <div class="card">
                <div class="card-body">
                    <form asp-action="ResetPassword" asp-controller="Account" method="post">
                        <div class="form-group">
                            <label asp-for="Password">Yeni Şifre :</label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" asp-for="Password" placeholder="Yeni Şifre">
                            </div>
                            <span style="color: #f5325c;" asp-validation-for="Password"></span>
                        </div><!--end form-group-->

                        <div class="form-group">
                            <label for="RePassword">Yeni Şifre Tekrar:</label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" id="RePassword" placeholder="Yeni Şifre Tekrar">
                            </div>
                        </div><!--end form-group-->

                        <div class="form-group">
                            <input type="submit" class="btn btn-outline-primary" value="Şifre Değiştir" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<partial name="_ValidationScriptsPartial"></partial>