@model ResetPasswordDTO

@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <title>Şifremi Unuttum - IK Merkezim</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />

</head>

<body class="account-body accountbg">

    <!-- Recover-pw page -->
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <div class="card">
                            <div class="card-body p-0 auth-header-box">
                                <div class="text-center p-3">
                                    <a href="index.html" class="logo logo-admin">
                                        <img src="/logo.png" height="50" alt="logo" class="auth-logo">
                                    </a>
                                    <h4 class="mt-3 mb-1 font-weight-semibold text-white font-18">Şifremi Unuttum</h4>
                                    <p class="text-muted  mb-0">Email adresinizi girerek yeni bir şifre talep edin.</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="form-horizontal auth-form my-4" asp-controller="Account" asp-action="ResetPasswordRequest" method="post">

                                    <div class="form-group">
                                        <label asp-for="Email">Email</label>
                                        <div class="input-group mb-3">
                                            <input type="email" class="form-control" asp-for="Email" placeholder="Email Adresi">
                                            <span asp-validation-for="Email"></span>
                                        </div>
                                    </div><!--end form-group-->

                                    <div class="form-group mb-0 row">
                                        <div class="col-12 mt-2">
                                            <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Şifre Sıfırla <i class="fas fa-sign-in-alt ml-1"></i></button>
                                        </div><!--end col-->
                                    </div> <!--end form-group-->
                                </form><!--end form-->

                                @if (ViewBag.State == true)
                                {
                                    <div class="alert alert-success border-0" role="alert">
                                        <strong>Başarılı !</strong> Şifre talebi için e-posta adresinize bilgilendirici mail gönderilmiştir.
                                    </div>
                                }
                                else if (ViewBag.State == false)
                                {
                                    <div class="alert alert-danger border-0" role="alert">
                                        <strong>Hata ! </strong> Böyle bir mail adresine sahip kullanıcı bulunmamaktadır.
                                    </div>
                                }

                                <p class="text-muted mb-0">Şifreyi hatırladınız mı ?  <a asp-controller="Account" asp-action="Login" class="text-primary ml-2">Giriş Yap</a></p>
                            </div>
                            <div class="card-body bg-light-alt text-center">
                                <span class="text-muted d-none d-sm-inline-block">IK Merkezim © 2020</span>
                            </div>
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- End Recover-pw page -->
    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
    <script src="~/assets/js/waves.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
</body>

</html>

<partial name="_ValidationScriptsPartial"></partial>